<div class="featured-content3">
<ul>

  <li>
<div class="content-outter">
  <a href="/collections/{{settings.featured_link_1}}" class="image-a"><img src="{{ 'collection1.jpg' | asset_url}}" data-src="{{'collection1.jpg' | asset_url }}" class="nullsNet" alt="" width="375" height="314" /></a></div>
<span class="outer_butt_border" data-text="shop now"> <a href="/collections/{{settings.featured_link_1}}" class="button button--winona button--border-thin button--text-thick button--inverted" data-text="{{settings.featured_text_1}}"> <span class="text">{{settings.featured_text_1}}</span></a></span>
  </li>

  <li>
<div class="content-outter">
  <a href="/collections/{{settings.featured_link_2}}" class="image-a"><img src="{{'collection2.jpg' | asset_url}}" data-src="{{settings.collection2.jpg | asset_url}}" class="nullsNet" alt="" width="375" height="314" /></a></div>
<span class="outer_butt_border" data-text="shop now"> <a href="/collections/{{settings.featured_link_2}}" class="button button--winona button--border-thin button--text-thick button--inverted" data-text="{{settings.featured_text_2}}"> <span class="text">{{settings.featured_text_2}}</span></a></span>
  </li>

  <li>
<div class="content-outter">
  <a href="/collections/{{settings.featured_link_3}}" class="image-a"><img src="{{'collection3.jpg' | asset_url}}" data-src="{{settings.collection2.jpg | asset_url}}" class="nullsNet" alt="" width="375" height="314" /></a></div>
<span class="outer_butt_border" data-text="shop now"> <a href="/collections/{{settings.featured_link_3}}" class="button button--winona button--border-thin button--text-thick button--inverted" data-text="{{settings.featured_text_3}}"> <span class="text">{{settings.featured_text_3}}</span></a></span>
  </li>
  
</ul>
</div>