
{% if product.available %}
<form action="/cart/add" method="post" class="clearfix product_form" data-money-format="{{ shop.money_format }}" data-shop-currency="{{ shop.currency }}" id="product-form-{{ product.id }}">

{% if settings.display_inventory_left %}
  <div class="items_left">
    {% if product.variants.first.inventory_management == "shopify" and product.variants.first.inventory_quantity > 0 %}
    {% capture items_left_text %}
    {% if product.variants.first.inventory_quantity == 1 %}
    {{ 'products.product.items_left_count.one' | t }}
    {% else %}
    {{ 'products.product.items_left_count.other' | t }}
    {% endif %}
    {% endcapture %}

    <p><em>{{ product.variants.first.inventory_quantity }} {{ items_left_text }}</em></p>
    {% endif %}
  </div>
  {% endif %} 

  {% if product.options.size > 1 %}
  <div class="select">
    <select id="product-select-{{ product.id }}{{ product-form }}" name="id" class="multi_select">
      {% for variant in product.variants %}
      <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }}</option>
      {% endfor %}
    </select>
  </div>
  {% elsif product.options.size == 1 %}
  {% if product.variants.size > 1 or product.options[0] != "Title" %}
  <div class="select">
    <label>{{ product.options[0] }}</label>
    <select id="product-select-{{ product.id }}{{ product-form }}" name="id">
      {% for variant in product.variants %}
      <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }}</option>
      {% endfor %}
    </select>
  </div>
  {% else %}
  <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
  {% endif %}
  {% else %}
  <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
  {% endif %}

  {% if settings.product_form_style == "swatches" %}
  {% if product.variants.size > 1 or product.options[0] != "Title" %}
  <div class="swatch_options">
    {% for option in product.options %}
    {% include 'product-swatch' with option %}
    {% endfor %}
  </div>
  {% endif %}
  {% endif %}

  <div class="price-share">
  
 {% unless collection_handles contains 'coming-soon' %}
     {% if variant.available %}
    <div class="price-here">
        <p class="modal_price product-detail-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
          <meta itemprop="seller" content="{{ shop.name | escape }}" />
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
          <meta itemprop="itemCondition" content="New" />

          <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
          <span itemprop="price" content="{{ variant.price | money_without_currency }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
            <span class="current_price">
              {% if variant.available %}
                {% if variant.price > 0 %} 
                  {{ variant.price | money }} 
                {% else %}
                  {{ settings.free_price_text }}
                {% endif %}
              {% endif %}
            </span>
          </span>
          <span class="was_price">
          {% if variant.price < variant.compare_at_price and variant.available %}
            {{ variant.compare_at_price | money }}
          {% endif %}
          </span>
        </p>
        
    </div> 
    {% else %}
    <div class="price-here">
        <p class="modal_price product-detail-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
          <meta itemprop="seller" content="{{ shop.name | escape }}" />
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
          <meta itemprop="itemCondition" content="New" />

          <span class="sold_out">{% if product.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
          <span itemprop="price" content="{{ product.price | money_without_currency }}" class="{% if product.compare_at_price > product.price %}sale{% endif %}">
            <span class="current_price">
              {% if product.available %}
                {% if product.price > 0 %} 
                  {{ product.price | money }} 
                {% else %}
                  {{ settings.free_price_text }}
                {% endif %}
              {% endif %}
            </span>
          </span>
          <span class="was_price">
          {% if product.price < product.compare_at_price and product.available %}
            {{ product.compare_at_price | money }}
          {% endif %}
          </span>
        </p>
        
    </div> 
     {% endif %}
    
    
      {% endunless %}
    <div class="share-here">
     {% if settings.display_social_buttons %}
          <div class="share-button"></div>
        {% endif %}
    </div>
  </div>


    
<div class="sale-area">
  
  <div class="quantity-outter clearfix"></div>
  <div id="infiniteoptions-container"></div>
  {% if settings.display_product_quantity %}
  <div class="qty">
    <label for="quantity">{{ 'products.product.quantity' | t }}:</label>
    <input type="number" min="1" size="2" class="" name="quantity" id="quantity" value="1" {% if product.variants.first.inventory_management == 'shopify' and product.variants.first.inventory_quantity > 0 and product.variants.first.inventory_policy == "deny" %}max="{{ product.variants.first.inventory_quantity }}"{% endif %} />
  </div>
  {% endif %}
  <div class="purchase sale-btn clearfix {% if settings.display_product_quantity %}inline_purchase{% endif %}">
    {% if settings.cart_action == 'reload_page' %}
    <input type="hidden" name="return_to" value="back" />
    {% elsif settings.cart_action == 'redirect_checkout' %}
    <input type="hidden" name="return_to" value="/checkout" />
    {% endif %}

    {% capture add_to_cart_label %}{% if collection_handles contains 'pre-order' %}{{ 'collections.general.pre_order' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}{% endcapture %}
    <div class="outer_butt_border" data-text="shop now">   <button type="submit" name="add" class="button button--winona button--border-thin button--text-thick button--inverted action_button add_to_cart" data-text="Add to Cart" data-label={{ add_to_cart_label | json }}><span class="text">{{ add_to_cart_label }}</span></button> </div>
  </div> 
  </div>
</form>
<div><span class="scolumn"><img src="{{'custom_text_icon.png' | asset_url }}" alt="Icon" /></span><span class="three column"><span class="custom_text_style" style="text-align:center">{{settings.custom_text}}</span></span></div>
<div class="saso-volumes"></div>
<div class="saso-bundle"></div>
<div class="powr-countdown-timer" id="02a2ac48_1507064787"> </div>

{% if product.variants.size > 1 or product.options.size > 1 %}
<script type="text/javascript">
  // <![CDATA[  
  $(function() {    
    $product = $('.product-' + {{ product.id }});
                 new Shopify.OptionSelectors("product-select-{{ product.id }}{{ product-form }}", { product: {{ product | json }}, onVariantSelected: selectCallback{% if template contains 'product' %}, enableHistoryState: false{% endif %} });
  });
  // ]]>
</script>
{% endif %}
{% endif %}
