
{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

<div class="columns {% if settings.product_sidebar %}six{% else %}nine{% endif %} product_gallery product-{{ product.id }}-gallery {% if product-images == blank %}product_slider{% endif %} {% if settings.product_thumbs == false %}animated fadeInUp{% endif %}">
 <div class="flexslider">
  <ul class="slides">
    {% for image in product.images %}

    <li data-variant-attached='{% if image.variants.size > 0 %} true {% else %} false {% endif%}' data-thumb="{{ image | product_img_url: '1024x1024' }}" data-title="{% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}{{ product.title }}{% else %}{{ image.alt | escape }}{% endif %}">
      {% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}
      {% assign src = image.alt | split: 'src="' %}
      {% assign src = src[1] | split: '"' | first %}

      {% if src contains '?' %}
      {% assign src = src | append: '&amp;autoplay=1' %}
      {% else %}
      {% assign src = src | append: '?autoplay=1' %}
      {% endif %}

      <div class="video-container {% if image.alt contains 'vimeo' %}vimeo{% else %}youtube{% endif %}">
        <div>
          <a href="{{ src }}" class="fancybox fancybox.iframe" data-fancybox-group="{{ product.id }}" title="{{ product.title | escape }}">
            {{ image.alt }}
          </a>
        </div>
      </div>
      {% else %}
      <a href="{{ image | product_img_url: 'master' }}" class="fancybox" data-fancybox-group="{{ product.id }}" title="{{ image.alt | escape }}">
        <img src="{{ 'loader.gif' | asset_url | split:'?' | first  }}" data-src="{{ image | product_img_url: 'grande' | split:'?' | first  }}" data-src-small="{{ image | product_img_url: '300x' | split:'?' | first  }}" data-src-retina="{{ image | product_img_url: '1024x1024' | split:'?' | first  }}" alt="{{ image.alt | escape }}" data-index="{{ forloop.index0 }}" data-image-id="{{ image.id }}" data-cloudzoom="zoomImage: '{{ image | product_img_url: 'master' | split:'?' | first  }}', tintColor: '{{ settings.shop_bg_color }}', zoomPosition: 'inside', zoomOffsetX: 0, touchStartDelay: 250" class="b-lazy cloudzoom {% if featured_image.id == image.id %}featured_image{% endif %}" />
      </a>
      {% if product.metafields.inventory.ShappifySale == "true" %}
      <div class="sale_banner">Sale</div>
      {% endif %}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  </div>
    

 
</div>
<div class="columns one pro-thumbs">
  <ul class="thumb_slider">
    {% for image in product.images %}

    <li class="{% if image.variants.size > 0 %} data-variant-attached {% endif %}thumb_image" >
      {% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}
      {% assign src = image.alt | split: 'src="' %}
      {% assign src = src[1] | split: '"' | first %}

      {% if src contains '?' %}
      {% assign src = src | append: '&amp;autoplay=1' %}
      {% else %}
      {% assign src = src | append: '?autoplay=1' %}
      {% endif %}

      <div class="video-container {% if image.alt contains 'vimeo' %}vimeo{% else %}youtube{% endif %}">
        <div>
          <a href="{{ src }}" class="fancybox fancybox.iframe" data-fancybox-group="{{ product.id }}" title="{{ product.title | escape }}">
            {{ image.alt }}
          </a>
        </div>
      </div>
      {% else %}
      <div class="img">
        <img src="{{ image | product_img_url: 'small' }}" alt="{{ image.alt | escape }}" data-index="{{ forloop.index0 }}" data-image-id="{{ image.id }}"  class="{% if featured_image.id == image.id %}image_thumb{% endif %}" />
      </div>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>