{%comment%}{% include 'bold-cart' %}  {%endcomment%}
<div class="sixteen columns clearfix collection_nav">
    <h1 class="center">{{ 'cart.general.title' | t }}</h1>
    <div class="feature_divider"></div>
  </div>
{% comment %}
<div class="sixteen columns clearfix" style="width:100%; text-align:center; line-height:40px;"><div class="center" style="background-color:#eddcee;color:#000;">Bulk Discount Available, Buy More to Save More!</div></div>
{% endcomment %}
  {% if cart.item_count == 0 %}
    <div class="sixteen columns">
      <div class="section clearfix">
        <p class="quote">{{ 'cart.general.continue_browsing_html' | t }}</p>  
        <br class="clear" />

        {% assign collection = '' %}
        {% assign products = collections[settings.frontpage_collection].products %}
        {% assign products_per_row = settings.frontpage_products_per_row %}
        {% include 'product-loop' %}
      </div>
    </div>
  {% else %}

  <form action="/cart" method="post" id="cart_form">      
    
    <div class="section clearfix">  
      <div class="ten columns cart_items">
        <h4 class="title">{{ 'cart.general.products' | t }}</h4>

        {% for item in cart.items %}
        {% comment %}{% include 'bold-cart-item' with item %}{% endcomment %}
        <!-- Bold  step 3-->
        	{% include 'bold-product' with item, hide_action: 'skip' %}	
        <!-- Bold  step 3-->
          <div class="five columns alpha {{ bold_row_class }}" {{ bold_row_data }}>
            
             {% if item.product.tags contains 'OPTIONS_HIDDEN_PRODUCT' %}
          {% assign productLink = "javascript:void(0)" %}
            {% else %}
           {% assign productLink = item.url %}
             {% endif %}
                    
            
            <a href="{{ productLink }}" title="{{ item.title | escape }}" class="cart_page_image">       
              <img src="{{ 'loader.gif' | asset_url }}" data-src="{{ item | img_url: 'medium' }}" data-src-retina="{{ item | img_url: 'grande' }}" alt="{{ item.title | escape }}" />
            </a>
            
            
          </div>

          <div class="five columns omega">
            <p>
              <a href="{{ productLink }}" title="{{ item.title | escape }}">{{ item.title }}
<span class='booster-cart-item-success-notes' data-key='{{item.key}}'></span><span class='booster-cart-item-upsell-notes' data-key='{{item.key}}'></span>
<span class="saso-cart-item-discount-notes" data-key="{{item.key}}"></span>
<span class="saso-cart-item-upsell-notes" data-key="{{item.key}}"></span>                                
                                </a>
            </p> 
            {{ bold_item_properties }}
            {% if item.properties %}
              <p>
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                    {% if p.last contains '/uploads/' %}
                      {{ p.first }}: <a class="lightbox" href="{{ p.last }}">{{ 'cart.general.uploaded_file' | t }}</a><br />
                    {% else %}
                      {{ p.first }}: {{ p.last }}<br />
                    {% endif %}
                  {% endunless %}
                {% endfor %}
              </p>
            {% endif %}

            <p class="price_total">
              {% if bold_item_price > 0 %} 
                
<span class="saso-cart-item-price" data-key="{{item.key}}">{{ bold_item_price | money_with_currency }}</span>

              {% else %}
                {{ settings.free_price_text }}
              {% endif %}
            </p>

            <p id="quantity_{{ forloop.index }}">
              <label for="updates_{{ item.id }}" class="quantity_label">{{ 'cart.general.quantity' | t }}:</label>
              <input type="number" min="0" size="3" maxlength="3" class="quantity {{ bold_qty_class }}" {{ bold_qty_attr }} name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" />
            </p>
            
            
		{% if item.product.tags contains 'OPTIONS_HIDDEN_PRODUCT' %}
		<p class="remove_item">
              {% comment %}<a href="{{ bold_remove_href }}" class="{{ bold_remove_class }}" title="{{ 'cart.general.remove' | t }}" {{ bold_remove_attr }}>{{ 'cart.general.remove' | t }}</a>{% endcomment %}
        <a href="/cart/change?line={{ forloop.index }}&quantity=0" rel="{{ item.id }}">Remove Item</a>
            </p>
            {% else %}
            <p class="remove_item">
              {% comment %}<a href="{{ bold_remove_href }}" class="{{ bold_remove_class }}" title="{{ 'cart.general.remove' | t }}" {{ bold_remove_attr }}>{{ 'cart.general.remove' | t }}</a>{% endcomment %}
        <a href="/cart/change?line={{ forloop.index }}&quantity=0" rel="{{ item.id }}">Remove Item</a>
            </p>
            {% endif %}
          </div>
          <br class="clear" />
          <br class="clear" />
        {% endfor %}
      </div>

      <div class="five columns offset-by-one">
        <h4 class="subtotal">
          <span id=""><span id=""><span id=""><span id=""><span id="">{{ 'cart.general.subtotal' | t }}</span></span></span></span></span>
        </h4>

        <p class="subtotal_amount">
          <strong><span id=""><span class="wh-original-cart-total">
<span class="">
<span class="">
<span class="">
<span class="">
<span class="">
<span class=""><span id="">
<span class="">
<span class="">
<span class=""><span id="">
<span class=""><span id="">
<span class="">
<span class="">
<span class="">
<span class="">
<span class="">
<span class="">
<span class="">
<span class=""><span id="">
<span class="">
<span class="">
<span class="">{{ cart.total_price | money_with_currency }}</span>
<span class=""></span>
</span>
<span class=""></span>
</span>
<span class=""></span>
</span></span>
<span class=""></span>
</span>
<span class=""></span>
</span>
<span class=""></span>
</span>
<span class=""></span>
</span>
<span class=""></span>
</span>
<span class=""></span>
</span>
<span class=""></span>
</span>
<span class=""></span>
</span></span>
<span class=""></span>
</span></span>
<span class=""></span>
</span>
<span class=""></span>
</span>
<span class=""></span>
</span></span>
<span class=""></span>
</span>
<span class=""></span>
</span>
<span class=""></span>
</span>
<span class=""></span>
</span>
<span class=""></span>
</span>
<span class=""></span>
</span><span class="wh-cart-total"></span><div class="additional-notes"><span class="wh-minimums-note"></span><span class="wh-extra-note "></span></div></span></strong> 
          {% comment %}
          <small id="estimated-shipping" style="display:none">+ <em>{{ 0 | money }} {{ 'cart.shipping_calculator.estimated_shipping' | t }}</em></small>
          {% endcomment %}

          <small class="excluding_tax"><em>{{ 'cart.general.excluding_tax_shipping' | t }}</em></small>
        </p>

        {% if settings.show_multiple_currencies %}
          <p>
            <small>
              {{ 'cart.general.orders_processed_in_currency_html' | t: currency: shop.currency }}
            </small>
          </p>
        {% endif %}

        {% if settings.display_special_instructions %} 
          <label for="note">{{ 'cart.general.note' | t: shop_name: shop.name }}:</label>
          <textarea id="note" name="note" rows="2">{{ cart.note }}</textarea>        
        {% endif %}

        {% if settings.display_tos_checkbox %}
          <p>
            <input type="checkbox" class="tos_agree" id="cart_agree" />
            <label class="tos_label" for="cart_agree">
              {{ 'cart.general.agree_to_terms_html' | t }}
            </label>
          </p>
        {% endif %}
        

{% if cart.item_count > 0 %}
          <div class="continue_shopping">
            <a href="/">{{ 'cart.general.continue_shopping_link_html' | t }}</a>
          </div>
        {% endif %} 
        
        
        <p>
        <span class="outer_butt_border"> <button type="submit" name="checkout" class="action_button right button button--winona button--border-thin button--text-thick button--inverted" value="{{ 'layout.general.checkout' | t }}" data-text="{{ 'layout.general.checkout' | t }}"><span class="text">{{ 'layout.general.checkout' | t }}</span></button>&nbsp;&rarr;</span>
        </p>
        
        <!--<div class="mob-hidden"><div class="two columns"><hr/></div><div class="one columns">OR</div><div class="two columns"><hr/></div></div>
        <div class="desktop-hidden"><div class="three columns" style="text-align:center;">OR</div></div>
  		-->
      </div>
    </div>
    
   
  </form>

  
  {% include 'cart-shipping-calculator' %}
  <br class="clear" />
  <br class="clear" />
{% endif %}



{{ bold_edit_in_cart }}