</div>
{% if collection.image %}
<div class="collection_image">
  <div class="coll-img"><img src="{{ collection.image | img_url: '1024x1024' }}"/></div>
  <div class="outer-here">
 <div class="container">
  <div class="collection-content left">
    {% if settings.display_collection_title %}
   <h1 class="coll-title">{{ collection.title }}</h1>
    {% endif %}
    <div class="coll-here">{% if collection.description contains '<!-- split -->' %}
{{ collection.description | split: '<!-- split -->' | first }}
{% endif %}</div>
  </div>
  </div>
  </div>
</div>
{% endif %}
<div class="container{% if collection.image == blank %} without-image{% endif %}">
{% if settings.slideshow_collection_enabled %}
  <div id="slide-collection">
    <div class="bcg"
        data-bottom-top="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -200px;"
        data-anchor-target="#slide-collection">
          <div class="hsContainer">
            <div class="hsContent center">
              {% if settings.display_collection_header_title %}
                <div>
                  <h1 class="headline" style="color:{{settings.banner_color}}">{{ collection.title }}</h1>
                </div>
              {% endif %}                
            </div>
          </div>
    </div>
  </div>
  <a name="pagecontent" id="pagecontent"></a>
  <div class="container">
{% endif %}

{% paginate collection.products by settings.pagination_limit %}
 {% unless collection.image %}
  {% if settings.display_collection_title %}
    <div class="sixteen columns">
      <h1 class="center">{{ collection.title }}</h1>
      <div class="feature_divider"></div>
    </div>
  {% endif %} 
  {% endunless %}

  <div class="section clearfix collection_start">
    <div class="sixteen columns breadcrumb">
      <div class="six columns breadcrumb_text alpha" itemscope itemtype="http://schema.org/BreadcrumbList">
        {% if settings.collection_breadcrumb %}
          <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span> 
          &nbsp;<span class="icon-right-arrow"></span>
          <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="item"><span itemprop="name">{{ collection.title }}</span></a></span>       
          {% if current_tags %}
            {% for tag in current_tags %}
              &nbsp;<span class="icon-right-arrow"></span>
              <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}" title="{{ tag | escape }}" itemprop="item"><span itemprop="name">{{ tag }}</span></a></span>
            {% endfor %}
          {% endif %}
        
          {% if paginate.pages != 0 %}      
            &nbsp;<span class="icon-right-arrow"></span> {{ 'general.breadcrumbs.page' | t: current_page: paginate.current_page, pages: paginate.pages }}
          {% endif %}
        {% endif %}
      </div>

      {% if collection.handle != blank and collection.products_count > 0 %}
        {% if settings.collection_tags %}        
          <div class="five columns section_select {% unless settings.collection_sort %}offset-by-four omega{% endunless %}">
          {% for tag in collection.all_tags %}
            {% if forloop.first %}
              <label for="tag_filter" class="inline">{{ 'collections.sorting.filter' | t }}: </label> 
              <select name="tag_filter" id="tag_filter">
                <option {% unless current_tags %}selected="selected"{% endunless %} value="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}">{{ 'collections.general.all_collection_title' | t: title: collection.title }}</option>
            {% endif %}          
              
            {% unless tag contains 'meta-related-collection-' %}
              <option {% if current_tags contains tag %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}">{{ tag }}</option>
            {% endunless %}
            
            {% if forloop.last %}
              </select>
            {% endif %}
          {% endfor %}
          </div>
        {% endif %}

       {% if settings.collection_sort %}
          <div class="five columns section_select omega {% unless settings.collection_tags %}offset-by-five{% endunless %}">
            <label for="sort-by" class="inline">{{ 'collections.sorting.title' | t }}: </label> 
            <select id="sort-by">
              <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
              <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
              <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
              <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
              <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
              <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
              <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
              <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
            </select>
            <script type="text/javascript">
              // <![CDATA[  
                $('#sort-by')
                  .val('{{ collection.sort_by | default: collection.default_sort_by  }}')
                  .bind('change', function() {
                    Shopify.queryParams.sort_by = $(this).val();
                    location.search = $.param(Shopify.queryParams);
                });
              // ]]>
            </script>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>

  {% if settings.collection_sidebar %}
    {% include 'sidebar' %}
    <div class="twelve columns">
  {% else %}
    <div class="sixteen columns">
  {% endif %}

    

    {% if collection.products.size == 0 %}
      <div class="section clearfix">     
        <p class="quote">{{ 'collections.general.no_matches' | t }}</p>
      </div>
    {% else %}
      {% assign products = collection.products %}
      {% assign products_per_row = settings.products_per_row %}
      {% include 'product-loop' with settings.collection_sidebar %}
    {% endif %}
{% if collection.description != blank %}
       {% if collection.description contains '<!-- split -->' %}
      <div class="section clearfix collection_description">    
       
{{ collection.description | split: '<!-- split -->' | last }}

      </div>
      {% endif %}
    {% endif %}
    {% include 'pagination' with settings.collection_sidebar %}
    
  </div>
{% endpaginate %}
    </div>
    <div class="clear"> </div>  
      
      
     <div class="cat_news_ups"> 
      {% include 'tips-and-review' %}
<section class="newsletter-section">
  <div class="container">
    <div class="six columns">
      <h3 class="news-text">{{ 'general.newsletter_form.description' | t }}</h3>
      </div>
    <div class="ten columns">
       {% include 'newsletter' %}
    </div>
  </div>
</section>
      </div>  
      
      
      
      
      <style>
  .coll-img img {
    width: 100%;
}
  .collection_image .container {
    position: absolute;
    right: 8%;
    top: 20%;
}
.collection_image {
    position: relative;
}
.collection-content.left {
    max-width: 380px;
    background: rgba(255,255,255,.8);
    padding: 20px;
}
.soldout {
    position: absolute;
    top: 32%;
    left: 36%;
    display: none;
}
.relative.product_image {
    position: relative;
}




.relative.product_image:hover .monogram {
display: block !important;  
}
.section.clearfix.collection_description {
    float: left;
}
</style>
      
      